@require 'common.styl'
.alert
    height 70px
    position absolute
    width calc(100% - 340px)
    bottom 0px
    left 340px
    transition 1s 
    transition-property opacity, visibility
    opacity 0
    text-align center
    z-index 101
    visibility hidden
    user-select none
    & > div
        margin 14px
        border-radius 21px
        line-height 42px
        background-color cgray1
        max-width 600px
        text-align center
        display inline-block
        width calc(100% - 60px)
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        padding 0px 10px 0px 10px
    &.alertDisplay
        visibility visible
        opacity 1
    @media all and (max-width 940px)
        width 100%
        left 0px
        
