@require 'common.styl'

.page
    position absolute
    left 0px
    top 48px
    display flex
    width 100vw 
    height calc(100vh - 48px)
    overflow hidden
    background-color white06
    & ~ canvas
        position absolute
        left 0px
        top 0px
        width 100vw
        height 100vh
        z-index -10