@require 'common.styl'
.fullpage
    height 200%
    min-height -moz-available
    min-height -webkit-fill-available
    min-height stretch
    max-height 100vh

.page
    position absolute
    left 0px
    top 48px
    display flex
    width 100vw 
    height calc(100% - 48px)
    overflow hidden
    background-color white06
    & ~ canvas
        position absolute
        left 0px
        top 0px
        width 100vw
        height 100vh
        z-index -10