@require 'common.styl'
.leftbar
    flex 0 0 220px
    width 220px
    height 100%
    overflow scroll
    background-color white02
    backdrop-filter: drop-shadow(-16px 16px 20px) invert(10%) blur(10px)
    box-shadow shadow1
    z-index 200
    scrollbar-width thin
    transition 0.2s
    @media all and (max-width 760px)
        position absolute
        left -220px
        top 0px
        opacity 0
        visibility hidden
    &.leftbarDisplay
        @media all and (max-width 760px)
            opacity 1
            visibility visible
            left 0px


.leftbarStateBtn
    display none
    left 20px
    bottom 80px
    z-index 201
    {IconBig}
    @media all and (max-width 760px)
        display block
    
.games
    margin 15px 10px
    & > div
        position relative
        border-radius 5px
        width 100%
        margin 2px 0px
        & div
            padding 12px 5px
            font-size 16px
            text-indent 15px
        &:hover 
            background-color cwhite1