@require 'common.styl'

@-moz-document url-prefix(){
    .leftbar {
        background-color oshadow
    }
}
.leftbar
    flex 0 0 220px
    width 220px
    height 100%
    backdrop-filter: drop-shadow(-16px 16px 20px) invert(10%) blur(10px)
    box-shadow shadow1
    z-index 200
    transition 0.2s
    @media all and (max-width 760px)
        position fixed
        left -220px
        bottom 0px
        height calc(100% - 48px)
        opacity 0
        visibility hidden
        background-color oshadow
    &.leftbarDisplay
        @media all and (max-width 760px)
            opacity 1
            visibility visible
            left 0px
    & > :nth-child(1)
        margin 14px 14px
        background-color cwhite1
        border-radius 6px
        overflow scroll
        scrollbar-width none
        
        & > div
            position relative
            width 100%
            & div
                padding 12px 5px
                font-size 16px
                text-indent 15px
            &:first-child
                margin-top 0px
            &:last-child
                margin-bottom 0px

            &:hover 
                background-color corange1
            &.select //Выделить выбранную игру из списка
                background-color corange1


.leftbarStateBtn
    display none
    position fixed
    left 20px
    bottom 80px
    z-index 201
    {IconBig}
    @media all and (max-width 760px)
        display block
    