@require 'common.styl'
            
.manual 
    width 1080px
    height calc(100vh - 58px)
    position fixed
    left calc(50% - 540px)
    bottom 5px
    overflow scroll
    scrollbar-width thin
    background-color cwhite3
    z-index 501
    @media all and (max-width 1090px)
        width calc(100vw - 10px)
        left 5px
    &  section 
        padding 14px 40px 
        &:last-child
            padding-bottom 80px
    &  p  
        margin-top 8px
        font-size 18px
        line-height 1.6em
        overflow hidden
    &  ul
        margin-left 22px
        font-size 18px
        line-height 1.6em
    &  h1 
        font-size 30px
        font-weight 700
        padding 40px 10px 20px 10px
        text-align center
    &  h2
        background-color cwhite3
        position sticky
        top 0px
        padding 30px   
        font-size 22px
        text-decoration underline 
    & .imgFloat
        position relative
        float right
        width 250px
        height 250px
        margin 0 0 24px 24px
        z-index -1
        @media all and (max-width 620px)
            float none
            width auto
            height auto
            margin 24px
    & .select 
        color corange1
        border-radius 3px
        background-color cwhite1
        padding 2px 6px
        white-space nowrap
    & .selectRed
        white-space nowrap
        text-decoration underline 
        color red
        

.line 
    width 100%
    margin 4px auto
    border-radius 5px
    height 2px
    background-color cgray1
.imgFull
    width 100%
    margin-top 10px