@require 'common.styl'
.popup
    display block
    position fixed
    left 0
    bottom 0
    width 100vw
    height 100%
    background-color rgba(0, 0, 0, 0.6)
    cursor default
    z-index 500
    & > :nth-child(1) 
        @media all and (max-width 810px)
            top 58px