@require 'common.styl'

.room
    flex 1 1
    height 100%
    display block
    position relative
    overflow hidden
    & > button:nth-child(1) 
        height 42px
        margin 40px
        width 340px
    & > div:nth-child(2) 
        z-index 0
        @media (max-width 810px)
            height calc(100% - 58px)
.match
    height 100%
    left 0
    top 0
    
.btnToLobby
    position absolute
    bottom 14px
    left 14px
    z-index 2
    height 42px
    width 340px
    outline none
    border none
    cursor pointer
    border-radius 5px
    text-align center
    font-size 14px 
    padding 10px   
    box-sizing border-box
    background-color corange1
    &:hover
        background-color corange2
    @media all and (max-width 940px)
        left auto 
        bottom auto
        top 24px
        right 14px
        padding 0
        box-sizing content-box
        {IconBig}

        border-radius 30px
        & > span //Hide text in span
            display none
    & > svg
        display none
        @media all and (max-width 940px) 
            display block //Show icon instead text
            & > :nth-child(2)
                fill cwhite1

        

