@require 'common.styl'
.button
    position absolute
    top 70px
    right 14px
    height 70px

    z-index 101
    box-sizing content-box
    user-select none
    background-repeat no-repeat
    background-size 42px 42px
    background-image url('../img/Minesweeper/bomb.png')
    {IconBig}
    &.highlite
        background-image url('../img/Minesweeper/flag.png')