@require 'common.styl'
.button
    position absolute
    top 70px
    right 14px
    height 70px

    z-index 101
    box-sizing content-box
    user-select none
    {IconBig}
    &.highlite
        background-color yellow
